/2nd Guide/nbproject/private/
/2nd Guide/build/
/3rd_Guide/nbproject/private/
/3rd_Guide/build/
/3rd_Guide/dist/
/4th_guide/nbproject/private/
/4th_guide/build/
/Encuentro_13_POO/nbproject/private/
/Encuentro_13_POO/build/
/Encuentro_13_POO/dist/
